body {
    padding: 0;
    margin: 0;
    background-color: white;
    color: white;
    font-family: "Courier New";
}

#loader {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15%;
    height: 300px;
}

.container {
    height: 115vh;
    position: relative;
    background-image: url("Images/blockbuster2.webp");
    background-repeat: no-repeat;
    background-size: cover;

}

/*.jumbotron {*/
/*    position: absolute;*/
/*    !*left: 25px;*!*/
/*    !*top: 50px;*!*/
/*    line-height: 1.5rem;*/
/*}*/

.search-movie {
    text-align: center;
    background-color: #016FFF;
}

.search-movie h2 {
    font-family: 'Nabla', cursive;
    font-size: 2rem;
    margin: 0;
}

.search-movie input {
    width: 30%;
}

#app {
    background-color: #016FFF;
    display: flex;
    padding: 3rem;
    /*margin: 5rem;*/
    flex-wrap: wrap;
    /*margin-left: 20%;*/
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 500px;
    width: 350px;
    min-width: 300px;
    padding: 1.5rem;
    margin: 2rem;

    border-radius: 50px;
    background: #17141D;
    box-shadow: -1rem 0 3rem black;

    transition: .2s;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(125px);
}

.card:not(:first-child) {
    margin-left: -80px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;

}
h2 {
    color: #FFDF00;
}
